<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<!------------------------------ HEAD ------------------------------>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--------------- Заголовок --------------->
    <title>{{title|title}}</title>

    <!----------------- Стили ----------------->
    {% block styles %}
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    {% endblock %}

    <!------------------- JS ------------------>
    {% block js %}
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %}

</head>
<!---------------------------- END HEAD ---------------------------->
<!------------------------------ BODY ------------------------------>
<body>
        <!---------------------- Меню ---------------------->
         {% block menu %}
            {% include 'side-menu.html' %}
         {% endblock %}

       <header>
            <a href="/" class="header">
                <h1 class="text-center">Search Person Popularity</h1>
            </a>
       </header>

        <!-------------------- Контент --------------------->
        <div class="container text-center">
            <div class="row">

                {% block content %}
                    {% endblock %}

            </div>
        </div>

        <!----------------- Footer ----------------->
            {% block footer %}

            {% endblock %}
</body>
</html>
        <!---------------------------- END BODY ---------------------------->