<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<!------------------------------ HEAD ------------------------------>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--------------- Заголовок --------------->
    <title>{{title|title}}</title>

    <!----------------- Стили ----------------->
    {% block styles %}
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}

    <!------------------- JS ------------------>
    {% block js %}
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://use.fontawesome.com/ec32966a69.js"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'daterangepicker/moment.js' %}"></script>
    <script src="{% static 'daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %}

</head>
<!---------------------------- END HEAD ---------------------------->
<!------------------------------ BODY ------------------------------>
<body>
        <!---------------------- Меню ---------------------->
         {% block menu %}
            {% include 'side-menu.html' %}
         {% endblock %}

       <header>
            <a href="/" class="header text-center">
                <h1 style="margin-bottom: 30px;"><u>CODE_FARM</u><br>КРАУДСКОРИНГ</h1><hr>
            </a>

       </header>

        <!-------------------- Контент --------------------->
        <div class="container text-center">
            <div class="row">

                {% block content %}
                    {% endblock %}

            </div>
        </div>

        <!----------------- Footer ----------------->
            {% block footer %}

        <footer style="margin-top: 80px;">

             <div class="col-xs-12 text-center">
                  <a href="https://github.com/Shourick/Search-Person-Popularity"><i class="fa fa-github fa-2x" aria-hidden="true"> </i></a>
                  <a href="mailto:crowd.scoring@yandex.ru"><i class="fa fa-envelope fa-2x" aria-hidden="true"> </i></a>
                  <br>
                  <strong> {% now "Y" as current_year %} Copyright  &copy; CodeFarm,  {{ current_year }}</strong>
             </div>
        </footer>
            {% endblock %}
</body>
        <!---------------------------- END BODY ---------------------------->
</html>