{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<form class="well form-inline stat"  method="post" id="daily_stat" >
     {% csrf_token %}
    <div class="form-group">
        <legend>Псмотреть количество новых страниц с упоминанием личности:</legend>
            <select size="1" id="site_id"  name="site_id" class="form-control">
                  {% for site in sites %}
                <option value="{{site.id}}">{{site.name}}</option>
                    {% endfor %}
            </select>

            <select size="1" id="person_id" name="person_id" class="form-control">
                 {% for person in persons %}
                <option value="{{person.id}}">{{person.name}}</option>
                    {% endfor %}
            </select>

            <div class="date-from-to">
                <p>Период:
                    <input type="date" class="form-control date" id="start_date" name="start_date" required>
                     по
                    <input type="date" class="form-control date" id="end_date" name="end_date" required>
                </p>
            </div>
            <button type="submit" id="submit_btn" class="btn">Подтвердить</button>
    </div>
</form>

{% endblock %}