{% extends "base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% block content %}

<!--TODO: form action-->
<form class="well form-inline"  method="post" id="daily_stat">
     {% csrf_token %}
    <div class="form-group">
        <legend>Ежедневная статистика</legend>
            <select size="1" id="site_id" class="form-control">
                 {% for politic in politics %}
            <option value="{{politic.id}}">{{politic.name}}</option>
                    {% endfor %}
            </select>
            <!--<p><input type="submit" value="Отправить" class="btn btn-default btn-md" ></p></div>-->
            <button type="submit" class="btn">Подтвердить</button>

            {% render_table politics %}

    </div>
</form>

{% endblock %}