{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<form class="well form-inline stat"  method="post" id="daily_stat" action="">
     {% csrf_token %}
    <div class="form-group">
        <legend>Псмотреть количество новых страниц с упоминанием личности:</legend>
            <select size="1" id="site_id"  name="site_id" class="form-control">
                  {% for site in sites %}
                <option value="{{site.id}}">{{site.name}}</option>
                    {% endfor %}
            </select>

            <select size="1" name="person_id" class="form-control">
                 {% for person in persons %}
                <option value="{{person.id}}">{{person.name}}</option>
                    {% endfor %}
            </select>

            <div class="date-from-to">
                <p>Период с:
                    <input type="date" class="form-control" name="start_date" placeholder="2015-11-10" required>
                     по
                    <input type="date" class="form-control" name="end_date" placeholder="2017-11-10" required>
                </p>
            </div>
            <button type="submit" id="submit_btn" class="btn">Подтвердить</button>
    </div>
</form>

{% endblock %}