{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<form class="well form-inline stat"  method="post" id="rank" >
     {% csrf_token %}
    <div class="form-group">
        <legend>Общая статистика</legend>

            <select size="1" id="id" class="form-control">
        {% for site in sites %}
            <option  value="{{site.id}}" name="{{site.id}}" id="site_id">{{site.name}}</option>
        {% endfor %}
            </select>

            <!--<p><input type="submit" value="Отправить" class="btn btn-default btn-md" ></p></div>-->
            <button type="submit" id="submit_btn" class="btn" onclick="get_site_id()">Подтвердить</button>

    </div>
</form>




{% endblock %}