{% extends "base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% block content %}

<!--TODO: form action-->
<form class="well form-inline"  method="post" id="general_stat">
     {% csrf_token %}
    <div class="form-group">
        <legend>Общая статистика</legend>
            <select size="1" id="site_id" class="form-control">
                  {% for site in sites %}
            <option value="{{site.id}}">{{site.name}}</option>
                    {% endfor %}
            </select>

            <div class="date-from-to">
                <p>Период с:
                    <input type="date" class="form-control" id="date_from" name="date" placeholder="11.10.2015" required>
                     по
                    <input type="date" class="form-control" id="date_to" name="date" placeholder="11.10.2017" required>
                </p>
            </div>
            <!--<p><input type="submit" value="Отправить" class="btn btn-default btn-md" ></p></div>-->
            <button type="submit" class="btn" date_from={{date_from}} date_to="{{date_to}}" site_id="{{site_id}}">Подтвердить</button>

        <div class="politics-table">
            {% if politics %}{% render_table politics %}{% else %}{% endif %}
        </div>

    </div>
</form>

{% endblock %}