{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="main_txt">
    <p>Сервис КРАУДСКОРИНГ от разработчиков CODE_FARM представляет собой инструмент, позволяющий Вам узнать насколько часто СМИ публикуют статьи о ком-либо.
        О ком - Вы выбираете сами.</p><p> Наше приложение находит любую личность по ключевым словам на тех сайтах, которые Вас интересуют!
    </p><br><hr>
    <div class="col-lg-3">
        <ul class="index_list list">
        <li><a href="" id="persons">Посмотреть список личностей</a></li>
            <p class="persons hidden">
                {% if persons %}
                   {% for person in persons %} {{ person.name }} <br> {% endfor %}
                {% else %}Извините, список временно недоступен {%endif %}
            </p>
<hr>
        <li><a href="" id="sites">Посмотреть список сайтов</a></li>
            <p class="sites hidden">
                {% if sites %}
                    {% for site in sites %} {{ site.name }} <br> {% endfor %}
                {% else %}Извините, список временно недоступен {%endif %}
            </p>

<hr>
        <li><a href="/keywords/">Посмотреть ключевые слова</a></li>

    </ul>
    </div>
    <div class="col-lg-9">
    <div class="" style="color:rgb(1, 44, 74);"><strong>Посмотреть как это работает на примере:</strong></div>

        <video width="660" height="371" controls="controls">
            <source src="{% static 'video/example.mp4' %}">
        </video>
    </div>

</div>
{% endblock %}