{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="txt">
    <div class="kwds col-md-12">
        <p><strong>Рейтинг пулярности :</strong></p>
    </div>
    <hr>
    <div class="col-md-6 text-right">
        {% if sites %}
        <ul>{% for site in sites %}
            <li>{{ site.name }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
        <div class="col-md-6 text-left">
        {% if ranks %}
        <ul>{% for rank in ranks %}
            <li>{{rank.rank}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}