{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="txt">
    <div class="kwds col-md-12">
        <p><strong>Рейтинги:</strong></p>
    </div>

    <div class="col-md-12">
    {% if ranks %}
        {% regroup ranks by person as list %}
            <ul>
                {% for person in list %}
                <li>{{person_id.grouper}}
                    <ul><hr>
                        {% for item in person.list %}
                         <li>{{ item.rank }}</li>
                             {% endfor %}

                    </ul><hr>
                </li>
                {% endfor %}
            </ul>
    {% endif %}
    </div>
</div>

{% endblock %}