<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.geekbrains.traineeship.group2.search_person_popularity_mai">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Persons.PersonsDirectoryActivity">
        </activity>
        <activity android:name=".Activities.Sites.SitesDirectoryActivity">
        </activity>
        <activity android:name=".Activities.Keywords.KeywordsDirectoryActivity">
        </activity>
        <activity android:name=".Activities.Users.UsersDirectoryActivity">
        </activity>
        <activity android:name=".Activities.Users.UsersDirectoryAddUserActivity">
        </activity>
        <activity android:name=".Activities.Users.UsersDirectoryEditUserActivity">
        </activity>
        <activity
            android:name=".AdminLoginActivity"
            android:label="@string/title_activity_admin_login">
        </activity>
        <activity android:name=".Activities.Admins.AdminLoginActivity">
        </activity>
        <activity android:name=".Activities.Sites.SitesDirectoryAddSiteActivity">
        </activity>
        <activity android:name=".Activities.Sites.SitesDirectoryEditSiteActivity">
        </activity>
        <activity android:name=".Activities.Persons.PersonsDirectoryAddPersonActivity">
        </activity>
        <activity android:name=".Activities.Persons.PersonsDirectoryEditPersonActivity">
        </activity>
        <activity android:name=".Activities.Keywords.KeywordsDirectoryAddKeywordActivity">
        </activity>
        <activity android:name=".Activities.Keywords.KeywordsDirectoryEditKeywordActivity">
        </activity>
    </application>

</manifest>