* {
    margin: 0;
    padding: 0;
}
body {
    left: 0;
    margin: 0;
    overflow: hidden;
	background-image: url(../img/2.jpg);
	background-repeat: no-repeat;
    background-position: 50% 25%;
}
a.header {
    color: #012C4A;
}
.menu {
  background-color: #012C4A;
  left: -285px;
  height: 100%;
  position: fixed;
  width: 280px;
}

.background {
  background-color: #012C4A;
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;

}
.menu a {
    color:white;
}
.menu ul {
  border-top: 1px solid #555;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #555;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
  color: #fff;
}

.menu li:hover {
  cursor: pointer;
  background-color: #555;
  }

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 6px;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu img {
  margin-right: 5px;
}
h1 {
    margin: 60pt;
}
h2 {
    margin: 20pt;
}
.main_btn a.btn, button {
    background-color: #58B9E4;
    color: white;
    margin-left: 10pt;
}
.main_btn {
    display: inline-block;
    float: both;
    margin: 10% auto;
}
form {
    width: 50%;
    margin: 10% auto;
}
input[type=date] {
    display: inline-block;
    width: 25%;
}
