<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<!------------------------------ HEAD ------------------------------>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--------------- Заголовок --------------->
    <title>{{title|title}}</title>

    <!----------------- Стили ----------------->
    {% block styles %}
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="/path/to/css/bootstrap-social.css" />-->
    <!--<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">-->
    {% endblock %}

    <!------------------- JS ------------------>
    {% block js %}
    {% endblock %}

</head>
<!---------------------------- END HEAD ---------------------------->
<!------------------------------ BODY ------------------------------>
<body>
        <!---------------------- Меню ---------------------->
        <div class="container">
            <div class="row">
              {% block menu %}
               {% endblock %}
             </div><!-- /row -->
        </div>

        <!-------------------- Контент --------------------->
        <div class="container">
            <div class="row">

                {% block content %}
                    {% endblock %}

            </div>
        </div>

        <!----------------- Footer ----------------->
            {% block footer %}

            {% endblock %}
</body>
</html>
        <!---------------------------- END BODY ---------------------------->